.HeroSection {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Title {
  font-size: var(--display-title);
  color: var(--title-color);
  font-weight: 600;
}

.Subtitle {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.Paragraph {
  margin-bottom: 32px;
}

.HeroText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 48px;
  path {
    stroke: var(--primary-color);
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

.mouse {
  width: 36px;
  height: 56px;
  border: 2px solid var(--primary-color);
  border-radius: 60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 48px;
  &::before {
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.25s infinite;
    -webkit-animation: wheel 1.25s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 55%;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 55%;
  }
}
