.About {
  .Title {
    margin-bottom: 56px;
  }
  .Wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    margin-bottom: 3rem;
  }
  .Content {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;

    p:last-of-type {
      margin-bottom: 2.5rem;
    }
  }

  .SkillDetails {
    padding: 1rem 0;
    div ul {
      display: flex;
      list-style: none;
      padding: 1rem 0 1.5rem 0;
      border-bottom: 1px dashed black;
      li {
        margin-right: 2rem;
      }
    }
  }

  .Picture {
    width: 100%;
    background-color: var(--primary-color);
    object-fit: cover;
    padding: 1.5rem;
    transform: scaleX(-1);
  }
}
