.About {
  h2 svg {
    animation-name: handAnimation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
  }
  .Title {
    margin-bottom: 56px;
  }
  .Wrapper {
    display: grid;
    grid-template-columns: 3fr 6fr;
    gap: 50px;
    margin-bottom: 1.5rem;
    .Content {
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-content: center;

      p:last-of-type {
        margin-bottom: 2.5rem;
      }
    }
    .Picture {
      width: 100%;
      
      object-fit: cover;
      max-width: 350px;
      border-radius: 100%;
    }
  }

  .DetailInnerContent {
    margin: 1rem 0;
  }

  .SkillDetails {
    display: flex;
    width: 100%;
    justify-content: space-between;

    div {
      flex-grow: 1;

      align-items: center;
      display: flex;
      flex-direction: column;
      h3 {
        color: #fff;
      }
      ul {
        list-style: none;
        text-align: center;
        li {
          margin: 0.75rem 0;
        }
      }
    }
    div:nth-child(1) {
      border-right: 1px solid #fff;
    }
    div:nth-child(3) {
      border-left: 1px solid #fff;
    }
  }
}

@media only screen and (max-width: 768px) {
  .About {
    .Wrapper {
      display: block;
      picture {
        width: max-content;
        margin: 0 auto 50px;
      }
    }
  }
}

@keyframes handAnimation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
