header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 104px;
  height: 90px;
  a{
    text-decoration: none;
  }
  .logo{
    color: var(--title-color);
    font-size: 32px;
    font-weight: bold;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    ul {
      display: flex;
      list-style: none;
      a{
        margin-left: 18px;
        padding-right: 18px;
        font-size: 20px;
        font-weight: medium;
        color: var(--text-color)
        
      }
    }
  }
}
