header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 90px;
  position: fixed;
  padding: 0 80px;
  .logo{
    color: var(--title-color);
    font-size: 32px;
    font-weight: bold;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    ul {
      display: flex;
      list-style: none;
      a{
        margin-left: 18px;
        padding-right: 18px;
        font-size: 18px;
        font-weight: 500;
        color: var(--text-color);
        &:focus {
          color:var(--primary-color)
        }
        &:hover{
          text-decoration: underline;
        }

      }
    }
  }
  
}
