.ModalBG{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
    .ModalContainer{
      position: relative;
      max-width: 50%;
      background-color: #fff;
      display: grid;
      grid-template-columns: 3fr 2fr; 
       
      .CloseBtn{
        position: absolute;
        top: 0;
        right: 0;
        margin: 4%;

      }
      .ProjectPreview{
        
        background-color: var(--primary-color);
        display: flex;
        align-items: center;


      }
      .ProjectInfo{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
      
        padding: 8%;
        .TagList{
          margin: 0.25rem 0 1rem 0;
          .Tag{
            padding: 2px 10px;
            background-color: var(--primary-color);
            color: #fff;
            border-radius: 4px;
            font-weight: 400;
            font-size: var(--small-text);
            margin-right: .4rem;
          }
        }
        h1,h3{
          color: var(--title-color);
        }
        h3{
          margin-bottom: 1.5rem;
        }
        p{
          max-height: 250px;
          overflow-y: scroll;
        }
        .ButtonsContainer{
          margin: 1rem 0;
          button{
            margin-right: .6rem;
          }
        }
        
      }
    }
}