@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  

}

:root {
  --text-color: #6D6A7C;
  --title-color:#242329;
  --primary-color:hsl(250, 69%, 61%);
  --primary-color-rgb:110, 87, 224;
  --primary-color-darker:hsl(250,57%,53%);
  --primary-color-lighter:hsl(250,92%,75%);
  --bg-color: #FBFBFE;

  /* Font Size */
  --display-title: 3.75rem;
  --h1: 3rem;
  --h2: 1.5rem;
  --h3: 1.125rem;

  .btn{
    border: none;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    
  }

  .btn--medium {
    padding: 10px 20px;
    font-size: 16px;
  }
  .btn--large {
    padding: 22px 45px;
    font-size: 18px;
  }

  .btn-primary{
    background-color: var(--primary-color);
    color: #fff;
    &:hover{
      background-color: var(--primary-color-darker);
    }
  }
  

  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  
  font-size: 1rem;
  font-weight: 500;

}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color-lighter) var(--bg-color);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-lighter);
  border: 3px solid var(--bg-color);
  border-radius: 10px;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}



a{
  text-decoration: none;
  transition: var(--transition);
  &:hover{
    color: var(--primary-color)
  }
}

section:not(:first-of-type){
  margin-top: 64px;
}

section{
  width: 100%;
}

.content-container{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  height: 2000px;
  padding: 0 150px;
}
.section-title{
  font-size: var(--h1);
  color: var(--title-color);
  text-align: center;
}

