@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

:root {
  --text-color: #6d6a7c;
  --title-color: #242329;
  --hue-value: 250;
  --primary-color: hsl(var(--hue-value), 69%, 61%);
  --primary-color-rgb: 87, 121, 224;
  --primary-color-darker: hsl(var(--hue-value), 57%, 53%);
  --primary-color-lighter: hsl(var(--hue-value), 92%, 75%);
  --bg-color: #fbfbfe;

  /* Font Size */
  --display-title: 3.75rem;
  --h1: 3rem;
  --h2: 1.5rem;
  --h3: 1.125rem;
  --small-text: 0.8rem;

  .btn {
    border: none;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
  }

  .btn--small {
    padding: 6px 15px;
    font-size: 16px;
  }

  .btn--medium {
    padding: 10px 20px;
    font-size: 16px;
  }
  .btn--large {
    padding: 22px 45px;
    font-size: 18px;
  }

  .btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    &:hover {
      background-color: var(--primary-color-darker);
    }
  }

  .btn-secondary {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    &:hover {
      background-color: var(--primary-color);
      color: #fff;
    }
  }

  .btn-secondary-alt {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: #fff;
    &:hover {
      background-color: var(--primary-color);
      color: #fff;
    }
  }

  .rounded {
    border-radius: 100px;
  }

  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  font-size: 1rem;
  font-weight: 500;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color-lighter) var(--bg-color);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-lighter);
  border: 3px solid var(--bg-color);
  border-radius: 10px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

footer {
  nav {
    margin: 1rem 0;
    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      li {
        margin: 0 1rem;
        a:visited {
          color: inherit;
        }
      }
    }
  }
}

a {
  text-decoration: none;
  transition: var(--transition);
  &:hover {
    color: var(--primary-color);
  }
}

section:not(:first-of-type) {
  margin: 5rem 0;
}

section {
  width: 100%;
}

.content-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 150px;
}
.section-title {
  font-size: var(--h1);
  color: var(--title-color);
  text-align: center;
}
